@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

body{
    display: block;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    padding: 50px;
    margin: 0 10%;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}
.icon-menu, .icon-menu-close{
    display: none;
}
header{
    display: flex;
}
nav{
    margin-left: 50%;
}
.nav-links{
    display: inline-flex;
    font-weight: 600;
}
.nav-links li{
    list-style-type: none;
    padding: 0;
    margin: 8px;
}
.nav-links a {
    text-decoration: none;
    color: hsl(236, 13%, 42%);
    transition: 1s;
  }
  .nav-links a:hover{
    color: hsl(5, 85%, 63%);
  }
main{
    display: grid;
    max-width: 1100px;
    height: 600px;
    margin: 20px 0;
}

.grid-container{
    max-width: 1100px;
    display: grid;
    grid-template-areas: 'game game game game menu menu'
    'main main right right menu menu'
    'footer1 footer1 footer2 footer2 footer3 footer3';
    gap: 2rem;
}
.mobile-img{
    display: none;
}
.item1{
    grid-area: game;
}
.item2{
    grid-area: main;
    font-size: 40px;
    font-weight: 800;
    max-width: 250px;
}
.item3{
    grid-area: right;
    max-width: 350px;
}
.item3 a{
    text-decoration: none;
    background-color: hsl(5, 85%, 63%);
    padding: 10px;
    color: #fff;
    transition: 1s;
}
.item3 a:hover{
    background-color: black;
    cursor: pointer;
}
.item4{
    max-width: 250px;
    grid-area: menu;
    background-color: hsl(240, 100%, 5%);
    color: #fff;
    padding: 10px 15px 0;
}
.item4 .content{
    padding: 20px 0;
}
.content b{
    font-weight: 700;
    font-size: 17px;
}
.content b:hover{
    color: hsl(35, 77%, 62%);
    cursor: pointer;
}
hr{
    font-weight: 100;
}
.item4 h1{
    font-weight: 800;
    font-size: 30px;
    color: hsl(35, 77%, 62%);
}
.item5{
    grid-area: footer1;
}

.item6{
    grid-area: footer2;
}
.item7{
    grid-area: footer3;
}

.footer img{
    float: left;
    margin-right: 20px;
    cursor: pointer;
}
.footer b:hover{
    color: hsl(5, 85%, 63%);
    cursor: pointer;
}
.number{
    font-size: 40px;
    font-weight: 700;
    color: hsl(233, 8%, 79%);
}

/* MEDIA QUERIES */



@media screen and (max-width:1082px){
    body{
        display: block;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        padding: 30px;
        margin: 0 10%;
        font-size: 13px;
    }
    header{
        flex-direction: row;
    }
      
     
    .nav-links a:hover {
        color: hsl(5, 85%, 63%);
      }
    main{
        display: grid;
        max-width: 900px;
        height: 400px;
        margin: 20px 0;
    }
    
    .grid-container{
        max-width: 1000px;
        display: grid;
        grid-template-areas: 'game game game game menu menu'
        'main main right right menu menu'
        'footer1 footer1 footer2 footer2 footer3 footer3';
        gap: 0.5rem;
    }
    .desktop-img{
        display: none;
    }
    .mobile-img{
        height: 250px;
    }
    .item4{
        max-width: 100%;
        grid-area: menu;
        background-color: hsl(240, 100%, 5%);
        padding: 10px;
        color: #fff;
    }
}

@media screen and (max-width: 768px)  {
    body{
        display: block;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        padding: 20px;
        margin: 0 10%;
    }
    .logo{
        width: 50px;
    }
    header{
        display: flex;
    }
    .icon-menu, .icon-menu-close{
        display: block;
        width: 30px;
    }
    .icon-menu-close{
        position: absolute;
        top: 0;
        right: 0;
        margin: 10px 10px 0 0;
        width: 30px;
    }
    header{
        display: flex;
    }
    nav{
        margin-left: 60%;
    }
    .nav-links{
        display: block;
        background-color: #fff;
        width: 0;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        overflow-x: hidden;
        z-index: 1;
        padding-top: 120px;
    }
    .nav-links li{
        list-style-type: none;
        padding: 0 0 10px 20px;
    }
    .nav-links a {
        text-decoration: none;
        color: hsl(236, 13%, 42%);
      }
    main{
        display: grid;
        max-width: 600px;
        height: 600px;
        margin: 20px 0;
    }
    
    .grid-container{
        max-width: 1100px;
        display: grid;
        grid-template-areas: 'game game game game game game'
        'main main main main main main'
        'right right right right right right'
        'menu menu menu menu menu menu'
        'footer1 footer1 footer1 footer1 footer1 footer1'
        'footer2 footer2 footer2 footer2 footer2 footer2'
        'footer3 footer3 footer3 footer3 footer3 footer3';
        gap: 1rem;
    }
    .desktop-img{
        display: none;
    }
    .mobile-img{
        height: 250px;
    }
    .item4{
        max-width: 100%;
        grid-area: menu;
        background-color: hsl(240, 100%, 5%);
        padding: 10px;
        color: #fff;
    }
}

@media screen and (max-width: 497px)  {
    body{
        display: block;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        padding: 50px;
        margin: 0 10%;
    }
    header{
        display: flex;
    }
    main{
        display: grid;
        max-width: 350px;
        height: 500px;
        margin: 20px 0;
    }
    
    .grid-container{
        max-width: 1100px;
        display: grid;
        grid-template-areas: 'game game game game game game'
        'main main main main main main'
        'right right right right right right'
        'menu menu menu menu menu menu'
        'footer1 footer1 footer1 footer1 footer1 footer1'
        'footer2 footer2 footer2 footer2 footer2 footer2'
        'footer3 footer3 footer3 footer3 footer3 footer3';
        gap: 0.5rem;
    }
    .desktop-img{
        display: none;
    }
    .mobile-img{
        height: 250px;
    }
    .item4{
        max-width: 100%;
        grid-area: menu;
        background-color: hsl(240, 100%, 5%);
        padding: 10px;
        color: #fff;
    }
}

