*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
    background-color: #fff;
    padding: 50px;
}
.container{
    width: 100%;
    display: grid;
    grid-template-areas: "x x y"
                         "w z y"
                         "a b c";
    align-items: center;
    justify-content: center;
    grid-gap: 20px;
}
.item h1{
    color: hsl(233, 8%, 79%);
}
p{
    font-size: 15px;
}
#x{
    width: 700px;
    height: 250px;
    background-image: url("./images/image-web-3-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: inherit;
}
#y{
    width: 300px;
    height: 400px;
    color: whitesmoke;
    background-color: hsl(240, 100%, 5%);
    padding: 10px;
    margin-top: -38px;
    color: hsl(36, 100%, 99%);
}
#y h2{
    color: hsl(35, 77%, 62%);
    margin-bottom: 10px;
}

#w{
    font-size: 50px;
    font-weight: 900;
}
#w, #z{
    width: 300px;
    height: 200px;
    background: none;
    margin-top: 20px;
}
#z .button{
    border: none;
    background-color: hsl(5, 85%, 63%);
    padding: 10px;
    width: 150px;
    color: hsl(36, 100%, 99%);
    margin-top: 50px;
    letter-spacing: 2px;
    font-size: 15px;
    cursor: pointer;
}
#z .button:hover{
    background-color: hsl(240, 100%, 5%);
}
#article h4, p{
    padding: 5px;
}
#article h4:hover{
    color:  hsl(5, 85%, 63%);
    cursor: pointer;
}
#article h3{
    font-size: 30px;
    color: hsl(236, 13%, 42%);
}
.article h3{
    margin-bottom: 10px;
    cursor: pointer;
}
.article h3:hover{
    color: hsl(35, 77%, 62%);
}
.line{
    content: '';
    width: 100%;
    background-color: #eee;
    height: 1px;
    display: block;
    margin: 20px 0;
}
#article img{
    width: 80px;
    float: left;
    margin-right: 20px;
}

header{
    width: 100%;
}
nav{
    display: flex;
    justify-content: space-between;
    text-align: end;
    padding: 3% 6%;
}
.nav-links{
    flex: 1;
    margin-top: -5%;
}
.nav-links ul li{
    list-style: none;
    margin-left: 10px;
    display: inline-block;
    position: relative;
}
.nav-links ul li a{
    text-decoration: none;
    color: black;
    margin-left: 10px;
    cursor: pointer;
}
.nav-links ul li a:hover{
    color: hsl(5, 85%, 63%);
}
.menu_close,
.menu_toggle{
    display: none;
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    z-index: 100;
    transition: 0.2s;
    display: none;
}


@media (max-width: 700px) {
    .container{
        width: 100%;
        display: grid;
        grid-template-areas: "x x x"
        "w w w"
        "z z z"
        "y y y"
        "a a a"
        "b b b"
        "c c c";
    }
    nav{
        display: flex;
    }
    .nav-links ul li{
        display: flex;
        flex-direction: column;
        text-align: left;
        row-gap: 1rem;
    }
    .nav-links{
        display: none;
        position: fixed;
        background-color: hsl(36, 100%, 99%);
        height: 100%;
        width: 60%;
        top: 0;
        right: 0;
        padding-top: 4rem;
        padding-left: 1rem;
        z-index: 1000;
        transition: 0.5s;
    }
    .nav-links ul li a{
        color: black;
        margin: 0.25rem 0;
        padding: 20px;
    }
    .menu_close,
.menu_toggle{
       float: right;
       display: block;
       margin-top: -20px;
       width: 20px;
}
.menu_close{
    display: block;
    top: 1rem;
    right: 100px;
}
   
    .item{
        font-size: initial;
        margin: 20px 0;
    }
   
    #x{
        width: 100%;
        height: 200px;
    }
    
   
}
